.topBlock{
    background-color: #0A2640;
    width: 110%;
    height: 776px;
    position: relative;
}
.content{
    width: 100%;
    top: 140px;
}
@media screen and (max-width: 1300px){
    .topBlock{
        width: 140vw;
    }

}